.title-one
{
    font-size: 8rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 0.5em;
    margin-left: 1.5em;
    width: 5em;

}

.title-two
{
    font-size: 15rem;
    font-weight: 400;
    line-height: 1.2;
    width: 10em;
    opacity: 0.1;
}