.title-one
{
    font-size: 8rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 0.5em;
    width: 5em;

}

.title-two
{
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.2;

    opacity: 0.1;

    position: relative;
    left: -$margin-left
}


.block-title
{
    @include flexbase(column,center,center);
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 0.5em;
    // margin-left: 6em;
    position: relative;
    top: -15em;


    &__h3
    {
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        margin-top: 0.5em;


    }

    &__sub
    {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 1.5rem;
        margin-top: 0.5em;
        // padding-left:6em ;


    }
}

