@import "../utils/variables";
header 
{
    color: $color-white;
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("../../ressources/images/slider/img_bg_slider_home01.jpg");
    background-position: center right;
    height: 750px;
    .slide--menu {
        .menu-nav {
            li {
                &:hover {
                    color: $color-gold;
                    cursor: pointer;
                }
            }
        }
    }
}

em {
    color: $color-white;
}

.about-us-title {
    color: $color-gold;
}
.gallery {
    .title-two {
        color: $color-gold;
    }
}
.category {
    
    background-image: linear-gradient(0deg, #faf6f0aa, #faf6f0aa),url("../../ressources/images/banner/imgbgcategory.jpg");
    > .title-two
    {
        color: $color-gold;
    }
    
    
}
.ourMenu {
    background-color: $color-cream;
    background-image: url("../../ressources/images/our-menu/imgbg-our-menu.jpg");
    background-position:right;
    background-repeat: no-repeat;
    background-size:33%;
    height: 1058px;
    > .title-two
    {
        color: $color-gold;
    }
    >nav
    {
        margin-top: -15em;
    }
    
}
.chefs {
    background-color: $color-black;
    > .title-two
    {
        color: $color-white;
    }
    > .block-title
    {
        color: $color-white;
    }
    
}
.blogArticle {
    background-color: $color-cream;
    > .title-two
    {
        color: $color-gold;
    }
    
}

.section-blog
{
    background-color: $color-white;

    > .title-two
    {
        color: $color-gold;
    }
    
}

footer {
    background-color: $color-black;
    background-image: url("../../ressources/images/footer/img-bg-footer.jpg");

        color: $color-white;
    
}

.footer{
    &__link 
    {
        color: $color-gold;
        text-decoration: none;
    }
}