@import "../utils/variables";

.gridOne {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    height: 400px;
    .noodles {
        background-image: url("../../ressources/images/gallery/img1gallerybox.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
        margin-left: $margin*2;
        margin-bottom: $margin;
        margin-right: $margin;
        color: transparent;
        &:hover {
            color: $color-white;
            background-color: rgba(0, 0, 0, 0.5);
            background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img1gallerybox.jpg");
        }
    }
    .sandwiches {
        background-image: url("../../ressources/images/gallery/img2gallerybox.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: $margin;
        margin-bottom: $margin;
        margin-right: $margin;
        color: transparent;
        &:hover {
            color: $color-white;
            background-color: rgba(0, 0, 0, 0.5);
            background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img2gallerybox.jpg");
        }
    }
    .pizza {
        background-image: url("../../ressources/images/gallery/img3gallerybox.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: $margin;
        margin-right: $margin*2;
        margin-bottom: $margin;
        color: transparent;
        &:hover {
            color: $color-white;
            background-color: rgba(0, 0, 0, 0.5);
            background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img3gallerybox.jpg");
        }
    }
}
.gridTwo {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    height: 400px;
    .uncooked {
        background-image: url("../../ressources/images/gallery/img4gallerybox.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: $margin*2;
        margin-top: $margin;
        margin-right: $margin;
        color: transparent;
        &:hover {
            color: $color-white;
            background-color: rgba(0, 0, 0, 0.5);
            background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img4gallerybox.jpg");
        }
    }
    .steak {
        background-image: url("../../ressources/images/gallery/img5gallerybox.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: $margin;
        margin-left: $margin;
        margin-right: $margin;
        color: transparent;
        &:hover {
            color: $color-white;
            background-color: rgba(0, 0, 0, 0.5);
            background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img5gallerybox.jpg");
        }
    }
    .fries {
        background-image: url("../../ressources/images/gallery/img6gallerybox.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 24px;
        color: transparent;
        &:hover {
            color: $color-white;
            background-color: rgba(0, 0, 0, 0.5);
            background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img6gallerybox.jpg");
        }
    }
}