@import url("../utils/_variables.scss");

.title-one {
    margin-left: $margin-left;
    margin-right: $margin-left;
}

section {
    padding-left: $margin-left;
    padding-right: $margin-left;
}

.section-blog {
    .slide {
        @include flexbase(row,space-between,center,wrap);
        .slide__item {
            width: 22em;
            height: 25em;
            .author {
                margin-left: 5%;
                margin-right: 5%;
            }
            .blogTitles {
                margin-left: 5%;
                margin-right: 5%;
            }
            .button--white {
                margin-left: 5%;
                margin-right: 5%;
                margin-bottom: 5%;
            }
        }
    }
}