@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("../utils/_variables.scss");
@import url("../utils/_variables.scss");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.slide__footer--menu, .blogTitles, .price, .texteLatin, ul, h4, h3, .title-two, .title-one {
  font-family: "Lora", serif;
}

.slide__footer--menu a, .footerMenuP, .footerMenu, main, header .slide, header {
  font-family: "Open Sans", sans-serif;
}

.title-one {
  text-transform: uppercase;
  font-size: 8rem;
}

.title-two {
  text-transform: uppercase;
  font-size: 16rem;
}

h3 {
  text-transform: uppercase;
  font-size: 50px;
}

.button--transparent {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.button--gold {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.button--transparent--black {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.button--white {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.slide__item--menu {
  font-size: 15px;
}

li {
  font-size: 15px;
}

.itemMenu {
  font-size: 20px;
  text-transform: capitalize;
}

.texteLatin {
  font-size: 20px;
  text-transform: none;
}

.titrePlats {
  font-size: 20px;
}

.price {
  font-size: 50px;
}

.slide__item {
  font-size: 20px;
}
.slide__item .blogTitles {
  text-transform: capitalize;
}

.block-title__sub {
  font-size: 15px;
}

.menu-description {
  font-size: 15px;
}

.centered-text h4 {
  font-size: 20px;
}
.centered-text p {
  font-size: 15px;
}

.author {
  font-size: 15px;
  text-transform: uppercase;
}

.slide__footer--menu {
  font-size: 20px;
}
@media screen and (max-width: 425px) {
  .title-one {
    font-size: 4rem;
  }
  .title-two {
    font-size: 4rem;
  }
  h3 {
    font-size: 25px;
  }
}
.button--white, .button--transparent--black, .button--transparent, .button--gold {
  padding: 1em;
  border-radius: 10px;
}

.gallery {
  text-align: center;
}

.button--gold {
  background-color: #C8A96A;
  border-color: #C8A96A;
  color: #fff;
}
.button--gold:hover {
  color: #0C0C0C;
  cursor: pointer;
}
.button--transparent {
  background-color: transparent;
  border-style: solid;
  border-color: #353A3D;
  color: #fff;
}
.button--transparent:hover {
  color: #C8A96A;
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
}
.button--transparent--black {
  background-color: transparent;
  border: #353A3D;
  border-style: solid;
  border-width: 1px;
  margin: 1em;
  color: #353A3D;
}
.button--transparent--black:hover {
  background-color: rgba(128, 128, 128, 0.5);
  border-color: rgba(128, 128, 128, 0.5);
  color: #fff;
  cursor: pointer;
}
.button--white {
  background-color: #fff;
  border-color: transparent;
  color: #0C0C0C;
}
.button--white:hover {
  color: #fff;
  background-color: #C8A96A;
  cursor: pointer;
}

.ligne {
  color: #fff;
  width: 95%;
  opacity: 0.3;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  flex-wrap: none;
}
.input__text {
  width: 20em;
}
.input__button {
  background-color: #C8A96A;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 0.5em;
  width: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.input__button:hover {
  background-color: #fff;
  color: #C8A96A;
}

.slide-brands {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 10%;
  padding-bottom: 10%;
}

.img__footer {
  width: 5em;
  object-fit: cover;
  position: relative;
  top: -5.5em;
  z-index: 1;
}

.icone {
  margin-right: 1em;
  color: #fff;
}
.icone:hover {
  color: #C8A96A;
}

.header__tampon {
  position: absolute;
  top: 10%;
  left: 30%;
  z-index: 1;
}
.header__play {
  width: 5em;
  height: 5em;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 18%;
}
.header__play::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.5em 1em 0.5em;
  border-color: transparent transparent #C8A96A transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%) rotate(90deg);
}
.header__play::after {
  /*circle*/
  content: "";
  width: 7em;
  height: 7em;
  background-color: none;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category__pack-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  position: relative;
  top: 32em;
  margin-bottom: 30em;
  margin-top: -25em;
}
.category__pack-img--center {
  border-radius: 50%;
  background-color: #fff;
  padding: 1em;
}
.category__pack-img--left {
  padding: 1em;
  padding-top: 8em;
  margin-right: 1em;
}

.slide__item img {
  width: 100%;
}

.about-us__tampon {
  position: relative;
  top: -25em;
  right: -80%;
  z-index: 2;
}

.our-menu__inter-img {
  position: relative;
  left: -12.5%;
  top: -25em;
  width: 20%;
  z-index: 0;
}

footer .kabibi-footer {
  margin-top: 5em;
  width: 20em;
}

@media screen and (max-width: 425px) {
  .category__pack-img {
    display: none;
  }
  .category__pack-img--center {
    display: none;
  }
  .category__pack-img--left {
    display: none;
  }
  .our-menu__inter-img {
    display: none;
  }
  .about-us__tampon {
    display: none;
  }
  .header__tampon {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 1;
  }
  .header__play {
    width: 5em;
    height: 5em;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    right: 50%;
  }
  .header__play::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.5em 1em 0.5em;
    border-color: transparent transparent #C8A96A transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%) rotate(90deg);
  }
  .header__play::after {
    /*circle*/
    content: "";
    width: 7em;
    height: 7em;
    background-color: none;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 5;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: -10px;
  left: -100%;
  width: 300px;
  height: 50%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 4;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

header {
  color: #fff;
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("../../ressources/images/slider/img_bg_slider_home01.jpg");
  background-position: center right;
  height: 750px;
}
header .slide--menu .menu-nav li:hover {
  color: #C8A96A;
  cursor: pointer;
}

em {
  color: #fff;
}

.about-us-title {
  color: #C8A96A;
}

.gallery .title-two {
  color: #C8A96A;
}

.category {
  background-image: linear-gradient(0deg, rgba(250, 246, 240, 0.6666666667), rgba(250, 246, 240, 0.6666666667)), url("../../ressources/images/banner/imgbgcategory.jpg");
}
.category > .title-two {
  color: #C8A96A;
}

.ourMenu {
  background-color: #FAF6F0;
  background-image: url("../../ressources/images/our-menu/imgbg-our-menu.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 33%;
  height: 1058px;
}
.ourMenu > .title-two {
  color: #C8A96A;
}
.ourMenu > nav {
  margin-top: -15em;
}

.chefs {
  background-color: #0C0C0C;
}
.chefs > .title-two {
  color: #fff;
}
.chefs > .block-title {
  color: #fff;
}

.blogArticle {
  background-color: #FAF6F0;
}
.blogArticle > .title-two {
  color: #C8A96A;
}

.section-blog {
  background-color: #fff;
}
.section-blog > .title-two {
  color: #C8A96A;
}

footer {
  background-color: #0C0C0C;
  background-image: url("../../ressources/images/footer/img-bg-footer.jpg");
  color: #fff;
}

.footer__link {
  color: #C8A96A;
  text-decoration: none;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.slide__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: none;
  background-color: #FAF6F0;
}
.slide__item--menu {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: none;
}
.slide__item__categorie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em 1em;
  width: 8em;
  height: 8em;
  background-color: #fff;
  color: #C8A96A;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.slide__item__categorie:hover {
  background-color: #C8A96A;
  color: #fff;
  cursor: pointer;
}
.slide__item__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: none;
  padding: 2em 1em;
  width: 25%;
  background-color: #fff;
  color: #0C0C0C;
  text-transform: uppercase;
  text-align: left;
  transition: all 0.5s ease-in-out;
}
.slide__item__about > p {
  margin-bottom: 2em;
  line-height: 1.7em;
}
.slide__item__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: none;
  margin: 0.5em;
  width: 25em;
  height: 5em;
  background-color: #fff;
  color: #C8A96A;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  transition: all 0.5s ease-in-out;
  border: 2px solid #fff;
}
.slide__item__menu:hover {
  border: 2px dashed #C8A96A;
  cursor: pointer;
}
.slide--menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: none;
}
.slide__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
}
.slide__footer--copyrythe {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: none;
}
.slide__footer--menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: none;
  max-width: 20em;
  height: 15em;
  padding: 3em;
}
.slide__footer--menu li {
  margin-top: 1em;
}
.slide__footer--menu li a {
  color: #fff;
  text-decoration: none;
}
.slide__footer--menu li:first-child {
  font-size: 38.4615384615px;
}

@media screen and (max-width: 425px) {
  .slide__item__categorie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em 1em;
    margin-top: 1em;
    width: 8em;
    height: 8em;
    background-color: #fff;
    color: #C8A96A;
  }
  .slide__item__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: none;
    width: 75%;
  }
  .slide__item__about > p {
    margin-bottom: 2em;
    line-height: 1em;
  }
}
.title-one {
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0.5em;
  width: 5em;
}

.title-two {
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.1;
  position: relative;
  left: -10%;
}

.block-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0.5em;
  position: relative;
  top: -15em;
}
.block-title__h3 {
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0.5em;
}
.block-title__sub {
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0.5em;
}

@media screen and (max-width: 425px) {
  .block-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    position: relative;
    top: -5em;
  }
  .title-one {
    line-height: 1.2;
    margin-bottom: 1.5rem;
    width: 5em;
  }
}
.tab {
  margin-left: 20em;
}

@media screen and (max-width: 425px) {
  .tab {
    margin-left: 5em;
  }
}
.grid .fries, .grid .steak, .grid .uncooked, .grid .pizza, .grid .sandwiches, .grid .noodles {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
}
.grid .fries:hover, .grid .steak:hover, .grid .uncooked:hover, .grid .pizza:hover, .grid .sandwiches:hover, .grid .noodles:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.grid .fries .arrow, .grid .noodles .arrow {
  position: relative;
  top: -125px;
  right: -400px;
}

.grid .steak .arrow, .grid .uncooked .arrow, .grid .pizza .arrow, .grid .sandwiches .arrow {
  position: relative;
  top: -125px;
  right: -250px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  height: 750px;
}
.grid .noodles {
  grid-area: 1/1/2/3;
  background-image: url("../../ressources/images/gallery/img1gallerybox.jpg");
}
.grid .noodles:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img1gallerybox.jpg");
}
.grid .sandwiches {
  grid-area: 1/3/2/4;
  background-image: url("../../ressources/images/gallery/img2gallerybox.jpg");
}
.grid .sandwiches:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img2gallerybox.jpg");
}
.grid .pizza {
  grid-area: 1/4/2/5;
  background-image: url("../../ressources/images/gallery/img3gallerybox.jpg");
}
.grid .pizza:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img3gallerybox.jpg");
}
.grid .uncooked {
  grid-area: 2/1/3/2;
  background-image: url("../../ressources/images/gallery/img4gallerybox.jpg");
}
.grid .uncooked:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img4gallerybox.jpg");
}
.grid .steak {
  grid-area: 2/2/3/3;
  background-image: url("../../ressources/images/gallery/img5gallerybox.jpg");
}
.grid .steak:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img5gallerybox.jpg");
}
.grid .fries {
  grid-area: 2/3/3/5;
  background-image: url("../../ressources/images/gallery/img6gallerybox.jpg");
}
.grid .fries:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img6gallerybox.jpg");
}
@media screen and (max-width: 425px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .grid .noodles {
    grid-area: 1/1/2/3;
  }
  .grid .sandwiches {
    grid-area: 2/1/3/2;
  }
  .grid .pizza {
    grid-area: 2/2/3/3;
  }
  .grid .uncooked {
    grid-area: 3/1/4/2;
  }
  .grid .steak {
    grid-area: 3/2/4/3;
  }
  .grid .fries {
    grid-area: 4/1/5/3;
  }
}
.block-title {
  margin-bottom: -5em;
}

.title-one {
  margin-left: 10%;
  margin-right: 10%;
}

.about_us_margins {
  margin-top: -15em;
}

ul.slide {
  margin: 15px;
}

.front-logo {
  margin: 15px;
}

section {
  padding-left: 10%;
  padding-right: 10%;
}

.chefs .slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: none;
}
.chefs .slide .slide__item {
  margin: 0em 0em 1em 0em;
}
.chefs .slide .slide__item:hover {
  cursor: grab;
}

.category nav .slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: none;
  margin: -1em;
}

.section-blog .slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: none;
}
.section-blog .slide .slide__item {
  height: 22em;
  width: 22em;
}
.section-blog .slide .slide__item .author {
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.section-blog .slide .slide__item .blogTitles {
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.section-blog .slide .slide__item .button--white {
  text-transform: uppercase;
  margin-left: 10%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (max-width: 425px) {
  section {
    padding-left: 5%;
    padding-right: 5%;
  }
  .about_us_margins {
    margin-top: -5em;
  }
}

/*# sourceMappingURL=style.css.map */
