@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main .blogTitles, main h4, main h3, main h2, main ul, header .title-one {
  font-family: "Lora", serif;
}

footer .footerMenuP, footer .footerMenu, main, header {
  font-family: "Open Sans", sans-serif;
}

header .title-one {
  text-transform: uppercase;
}

main h2 {
  text-transform: uppercase;
}
main h3 {
  text-transform: uppercase;
}
main .slide__item p {
  text-transform: uppercase;
}
main .slide__item .blogTitles {
  text-transform: capitalize;
}

.button--white, .button--transparent, .button--gold, .button--white:hover {
  padding: 1em;
  border-radius: 10px;
}

.button--gold, .button--white:hover {
  background-color: #C8A96A;
  border-color: #C8A96A;
  color: #fff;
}
.button--transparent {
  background-color: transparent;
  border-color: #353A3D;
  color: #fff;
}
.button--white {
  background-color: #fff;
  border-color: #0C0C0C;
  color: #0C0C0C;
}
header {
  color: #fff;
  background-image: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("../../ressources/images/slider/img_bg_slider_home01.jpg");
  background-position: center right;
  height: 750px;
}

em {
  color: #fff;
}

.category {
  background-color: #FAF6F0;
  color: #C8A96A;
}

.ourMenu {
  background-color: #FAF6F0;
  color: #C8A96A;
}

.chefs {
  background-color: #0C0C0C;
  color: #fff;
}

.blogArticle {
  background-color: #FAF6F0;
  color: #C8A96A;
}

.section-blog {
  background-color: #FAF6F0;
  color: #C8A96A;
}

footer {
  background-color: #0C0C0C;
  color: #fff;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slide__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #C8A96A;
  width: 15em;
  height: 15em;
  margin: 1em;
}
.slide__item--menu {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slide__item--menu:hover {
  color: #C8A96A;
}
.slide__item--brands {
  background-color: transparent;
}
.slide--menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title-one {
  font-size: 8rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0.5em;
  margin-left: 1.5em;
  width: 5em;
}

.title-two {
  font-size: 15rem;
  font-weight: 400;
  line-height: 1.2;
  width: 5em;
  opacity: 0.1;
}

.tab {
  margin-left: 20em;
}

.gridOne {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  height: 400px;
}
.gridOne .noodles {
  background-image: url("../../ressources/images/gallery/img1gallerybox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  margin-left: 24px;
  margin-bottom: 12px;
  margin-right: 12px;
  color: transparent;
}
.gridOne .noodles:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img1gallerybox.jpg");
}
.gridOne .sandwiches {
  background-image: url("../../ressources/images/gallery/img2gallerybox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 12px;
  margin-bottom: 12px;
  margin-right: 12px;
  color: transparent;
}
.gridOne .sandwiches:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img2gallerybox.jpg");
}
.gridOne .pizza {
  background-image: url("../../ressources/images/gallery/img3gallerybox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 12px;
  margin-right: 24px;
  margin-bottom: 12px;
  color: transparent;
}
.gridOne .pizza:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img3gallerybox.jpg");
}

.gridTwo {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  height: 400px;
}
.gridTwo .uncooked {
  background-image: url("../../ressources/images/gallery/img4gallerybox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 24px;
  margin-top: 12px;
  margin-right: 12px;
  color: transparent;
}
.gridTwo .uncooked:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img4gallerybox.jpg");
}
.gridTwo .steak {
  background-image: url("../../ressources/images/gallery/img5gallerybox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  color: transparent;
}
.gridTwo .steak:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img5gallerybox.jpg");
}
.gridTwo .fries {
  background-image: url("../../ressources/images/gallery/img6gallerybox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 24px;
  color: transparent;
}
.gridTwo .fries:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../ressources/images/gallery/img6gallerybox.jpg");
}

/*# sourceMappingURL=style.css.map */
