%resise
    {
        padding: 1em;
        border-radius: 10px;
    }

.gallery {
    text-align: center;
}

.button
{
    &--gold
    {
        background-color: $color-gold;
        border-color: $color-gold;
        color: $color-white;
        @extend %resise;
        &:hover {
            color: $color-black;
            cursor: pointer;
        }
    }

    &--transparent
    {
        background-color: transparent;
        border-style: solid;
        border-color: $color-lightblack;
        color: $color-white;
        @extend %resise;
        &:hover {
            color: $color-gold;
            background-color: rgba(128, 128, 128, 0.5);
            cursor: pointer;
        }
    }
    &--transparent--black {
        background-color: transparent;
        border: $color-lightblack;
        border-style: solid;
        border-width: 1px;;
        margin: 1em;
        color: $color-lightblack;
        @extend %resise;
        &:hover {
            background-color: rgba(128, 128, 128, 0.5);
            border-color: rgba(128, 128, 128, 0.5);
            color: $color-white;
            cursor: pointer;
        }
    }

    &--white
    {
        background-color: $color-white;
        border-color: transparent;
        color: $color-black;
        @extend %resise;
        &:hover {
            color: $color-white;
            background-color: $color-gold;
            cursor: pointer;
        }
    }
}