.input
{
    &__text
    {
        width: 20em;
    }
    &__button
    {
        // @include flexbase(row,center,center);
        background-color: $color-gold;
        color: $color-white;
        border: none;
        border-radius: 0.5em;
        padding: 0.5em;
        // width: 10em;
        // height: 2em;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover
        {
            background-color: $color-white;
            color: $color-gold;
        }
    }
}