@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("../utils/_variables.scss");

%Lora {
    font-family: 'Lora', serif;
}
%Open {
    font-family: 'Open Sans', sans-serif;
}

//----------------section ----------------
header
{
    @extend %Open;
    .slide {
        @extend %Open;
    }
}
main {
    @extend %Open;
}
//------------------title------------------
.title-one {
    @extend %Lora;
    text-transform: uppercase;
    font-size: $small-huge-text;
}

h2 {
    @extend %Lora;
    text-transform: uppercase;
    font-size: $big-text;
}
h3 {
    @extend %Lora;
    text-transform: uppercase;
    font-size: $huge-text;
}

h4 {
    @extend %Lora;
}
//------------------button------------------
.button--transparent{
    font-size: $small-text;
}
.button--gold {
    font-size: $small-text;
}

.button--transparent--black {
    font-size: $small-text;
}

.button--white {
    font-size: $small-text;
}

//-------------------other-----------------
.slide__item--menu{
    font-size: $small-text;
}


ul {
    @extend %Lora;
}
li {
    font-size: $small-text;
}
.itemMenu {
    font-size: $medium-text;
    text-transform: capitalize;
}
.texteLatin {
    @extend %Lora;
    font-size: $medium-text;
}
.titrePlats {
    font-size: $medium-text;
}
.price {
    font-size: $huge-text;
    @extend %Lora;
}

.blogTitles {
    @extend %Lora;
}       
.slide__item {
    .blogTitles {
    text-transform: capitalize;
    }
    font-size: $medium-text;
}
.block-title__sub {
    font-size: $small-text;
}

.menu-description {
    font-size: $small-text;
}
.centered-text {
    h4 {
        font-size: $medium-text;
    }
    p {
        font-size: $small-text;
    }
}

.author {
    font-size: $small-text;
    text-transform: uppercase;
}



.footerMenu {
    @extend %Open;
}
.footerMenuP {
    @extend %Open;
}

.slide__footer--menu {
    font-size: $medium-text;
    @extend %Lora;
    a {
        @extend %Open;
    }
}
