@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

%Lora {
    font-family: 'Lora', serif;
}
%Open {
    font-family: 'Open Sans', sans-serif;
}

header {
    @extend %Open;
    .title-one {
        @extend %Lora;
        text-transform: uppercase;
    }
}

main {
        @extend %Open;
        ul {
            @extend %Lora;
        }
        h2 {
            @extend %Lora;
            text-transform: uppercase;
        }
        
        h3 {
            @extend %Lora;
            text-transform: uppercase;
        }
        h4 {
            @extend %Lora;
        }
        .blogTitles {
            @extend %Lora;
        }       
        .slide__item {
            p {
                text-transform: uppercase;
            }
            .blogTitles {
            text-transform: capitalize;
            }
        }
    }

footer {
    .footerMenu {
        @extend %Open;
    }
    .footerMenuP {
        @extend %Open;
    }
}