@mixin flexbase($direction: row, $content: space-between,$item: flex-start, $wrap: none)
{
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $item;
    flex-wrap: $wrap;
}
