// color
$color-black: #0C0C0C;
$color-white: #fff;
$color-gold: #C8A96A;
$color-cream: #FAF6F0;
$color-lightblack:#353A3D;

// size

$margin-light: 24px;

$small-text: 15px;
$medium-text: 20px;
$huge-text: 50px;
